<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.model.mapper.StrategyInfoMapper">

    <resultMap id="BaseResultMap" type="com.travel.model.pojo.StrategyInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="DATE"/>
            <result property="endTime" column="end_time" jdbcType="DATE"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="sale" column="sale" jdbcType="INTEGER"/>
            <result property="rating" column="rating" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,province,
        address,img_url,start_time,
        end_time,description,price,
        sale,rating,create_time,
        update_time,is_deleted
    </sql>
</mapper>
